 <!-- Portfolio Grid Section -->

    <section id="about" class="bg-light-gray">
        <div class="container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                      </div>
            </div>
        </div>
    </section>
     <div class="container">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                               
                            </div>
                        </div>
                    
                    </a>
                    <div class="section-subheading text-muted text-center">
                        <h4>The author</h4>   <br>

                        <h4>Joan DeJean</h4> 
                         <br>

                        <p class="text-muted text-center"> Joan DeJean was born in Opelousas, Louisiana.  She was educated at Tulane (Newcomb College) and Yale University.  She taught courses on seventeenth- and eighteenth-century France at Yale, Princeton, and the University of Pennsylvania, where she is Trustee Professor.  She has done research in French archives since 1974, primarily in the archives of Parisian prisons held in Paris’s Arsenal Library.  It was in the Arsenal that, a decade ago, she came across the earliest documentation describing the arrests and deportations of the Mutinous Women who helped found and build New Orleans.
                         <div class="col portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                               
                            </div>
                        </div>
                    
                    </a>
                    <div class="portfolio-caption">
                      
                       
                        </div>

                </div>
            </div>
            <div class="row">
            
                <div class="col portfolio-item">
                       <a href="https://www.basicbooks.com/titles/joan-dejean/mutinous-women/9781541600591/#"target="_blank" rel=“noreferrer noopener”>  
                       
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                               
                            </div>
                        </div>
                        <img src="img/book-cover.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The book</h4>
                      
                    </div>
                </div>
            
                <div class="col portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                               
                            </div>
                        </div>
                    
                    </a>
                    <div class="section-subheading text-muted">
                        <h4>The team</h4>   <br>

                        <h4>Pauline Carbonnel</h4> 
                        <p class="text-muted"> Co-designer & developer, Research Assistant 
                        <h4>Cassandra Hradil</h4> 
                        <p class="text-muted"> Co-designer & developer, Digital Humanities Specialist 
                        </div>

       

                    </a>
        
                    </a>

                    </div>
                </div>
                  </div>
                </div>
            
            </div>
        </div>
    </section>