   <!-- Portfolio Grid Section -->

    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                      </div>
            </div>
        </div>
    </section>
                </div>
            </div>
            <div class="row">
            
                <div class="col portfolio-item">
                       <a href="https://www.basicbooks.com/titles/joan-dejean/mutinous-women/9781541600591/#"target="_blank" rel=“noreferrer noopener”>  
                       
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                               
                            </div>
                        </div>
                        <img src="img/book-cover.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The book</h4>
                      
                    </div>
                </div>
            
                <div class="col portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                               
                            </div>
                        </div>
                    
                    </a>
                    <div class="portfolio-caption">
                        <h4>The Team</h4>   <br>

                        <h4>Pauline Carbonnel</h4> 
                        <p class="text-muted"> Co-designer & developer, Research Assistant 
                        <h4>Cassandra Hradil</h4> 
                        <p class="text-muted"> Co-designer & developer, Digital Humanities Specialist 
                        </div>

       

                    </a>
        
                    </a>

                    </div>
                </div>
                  </div>
                </div>
            
            </div>
        </div>
    </section>

