  <footer style="background-color:white">
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                      
                        <img class= "social" src="./img/logos/PriceLab_Logo.png">
                    

                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    <img style="max-height:80px" class= "social" src="./img/logos/libraries_logo.jpg">
                </ul>
                </div>
            </div>
        </div>
    </footer>
