  <footer style="background-color:white">
        <div class="container">

                
                
                    <ul class="list-inline social-buttons">
                      <li>
                        <img class= "social" src="./img/logos/PriceLab_Logo.png">
                    </li>
                    <li>
                        <img style="max-height:80px; max-width:250px" class= "social" src="./img/logos/libraries_logo.jpg"></li>

                    </ul>
                
               
        </div>
    </footer>
