<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div style="position:relative; left:50vw;  background: white;color: black;padding-left: 10px;padding-right: 10px; max-width:50%;bottom: 150px;><p class = "citation" >Image: Jean Pierre Lassus, <i>View and Perspective of New Orleans</i>, 1726.</p></div>
        <div class="container">
                    <div class=" section-subheading">
         <p class="section-subheading intro"> 
            A decade after its founding, New Orleans was home to at least 37 women who had been deported from France in 1719.  Most of them had been unjustly pronounced guilty of prostitution.  This interactive map makes it possible to learn who they really were and where they lived in New Orleans.

         </p></div>
                <div >
                    <h2 class="section-heading text-center">The map</h2>
                    <h3 class="section-subheading text-muted">
                        <div>In 1731, an architect’s draftsman named Gonichon produced this map, considered the most accurate depiction of New Orleans a decade after serious construction on the new capital began.  Gonichon’s map shows all the city’s original buildings and its first streets.  On the northern edge, you see what residents already called Dauphine Street, even though the actual street did not yet exist.  </div><br>
<div>
    Each plot of land was numbered, and an accompanying chart listed the owners of most properties.  In many cases, Gonichon’s map makes it possible to determine precisely who lived where.  In all, of the roughly 200 privately-owned properties in New Orleans in 1731, between 8 and 10 percent were in the hands of women who were banished from France in 1719.  In many cases, these deported women had cleared the land and built the homes that sat on their lots with their own hands.
</div><br>
<div>The interactive map shown here illuminates these women's lives and their presence on the land, using Gonichon's map as a lens and a guide. Click on the markers to learn more about the women who lived here. A few contemporary photos of the buildings now found on the women’s property have been included.</div>
</h3>





    <div id="mapid" style="height:600px; width:100%">
         
    </div>
               
<!-- <img src="https://cdn.glitch.me/ff68c5af-6a66-41a2-892e-9495a1e61e6d%2Fmutine-women-legend.jpg?v=1637694856933" style="width:200px"> -->




                </div>
            </div>
            
                    </span>
                    
            </div>
        </div>
    </section>