<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The women</h2>
</div>
            </div>
         <h3 class="section-subheading text-muted">In 1719, the Parisian police force was given free reign to arrest women.  The development of the newest French colony, the immense territory known as “Louisiana,” had suddenly become a priority, and officials were willing to use any means necessary to acquire female colonists.  Any women found on the streets of Paris was at risk of being quickly incarcerated on trumped-up charges and then shipped off across the Atlantic.  Of the hundreds arrested in police raids, 134 women were taken from Paris in chains.  Perhaps 60 survived the journey.  In 1720, those survivors found themselves on the Gulf Coast.  Most soon married and began new lives all over the colony – from Natchez to Mobile, from Biloxi to Arkansas, from Natchitoches to Illinois.  During the first decade of New Orleans’s existence, at least 33 survivors resided there.  Many of them were among the original owners of property in what is now the French Quarter.  </h3>
                </div>
            </div>
           
                