<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The map</h2>
                    <h3 class="section-subheading text-muted">In 1731, an architect’s draftsman named Gonichon produced this map, considered the most accurate depiction of New Orleans a decade after serious construction on the new capital began.  Gonichon’s map shows all the city’s original buildings and its first streets.  On the northern edge, you see what residents already called Dauphine Street, even though the actual street did not yet exist.  

    Each plot of land was numbered, and an accompanying chart listed the owners of most properties.  In many cases, Gonichon’s map makes it possible to determine precisely who lived where.  In all, of the roughly 200 privately-owned properties in New Orleans in 1731, between 8 and 10 percent were in the hands of women who were banished from France in 1719.  In many cases, these deported women had cleared the land and built the homes that sat on their lots with their own hands.</h3>





    <div id="mapid" style="height:600px"></div>
               





                </div>
            </div>
            
                    </span>
                    
                </div>
            </div>
        </div>
    </section>